// ----------------------------------------
// 変数
// ----------------------------------------
// site width
$siteWidth: 940px;
$siteTopColumnWidth: 450px;
$siteMainWidth: 620px;
$siteSideWitdh: 300px;

// color
$colorRed: #c02813;
$colorBlue: #1f2769;
$colorLightBlue: #5597dd;
$colorGreen: #478f18;
$colorGray: #D2D2D2;
$colorOrange: #F1D624;

$white: #ffffff;
$black: #333333;