@charset "utf-8";

// base
@import "normalize";
@import "variable";
@import "fontawesome/font-awesome";

a {
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: red;
  }
}

//layout

.l-header {
  background-color: $colorBlue;
  border-bottom: 2px solid $white;

  h1 {
    color: $white;
    float: left;
    font-size: 30px;
    margin: 25px 0;
  }
  p {
    color: $colorOrange;
    float: right;
    font-size: 30px;
    margin: 25px 0;
  }
}

.inner {
  width: 940px;
  margin: 0 auto;

  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

.l-nav {
  background-color: $colorRed;
  margin-bottom: 15px;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      float: left;
      text-align: center;
      width: 20%;

      a {
        color: $white;
        display: block;
        padding: 15px 0;
      }
    }
  }
}

.mod-visual {
  margin-bottom: 48px;
}

.top-block {
  background-color: $colorLightBlue;
  float: left;
  width: 450px;
  border-radius: 4px;
  &:last-child {
    float: right;
    background-color: $colorGreen;

    p {
      a {
        background-color: $colorGreen;
      }
    }
  }

  h2 {
    color: $white;
    font-size: 34px;
    margin: 13px;
    text-align: center;
  }
  p {
    background-color: $white;
    color: $black;
    margin: 0 3px;
    padding: 15px;

    &:last-child {
      padding-top: 0;
      margin-bottom: 3px;
    }

    a {
      background-color: $colorLightBlue;
      color: $white;
      display: block;
      padding: 10px;
      text-align: center;
    }
  }
}

.l-main {}

.l-side {}

.l-bottom {}