@charset "utf-8";

// base
@import "normalize";
@import "variable";
@import "fontawesome/font-awesome";

a {
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: red;
  }
}

//layout

.l-header {
  background-color: $colorBlue;

  h1 {
    color: $white;
  }
  p {
    color: $colorOrange;
  }
}

.inner {
  width: 940px;
  margin: 0 auto;
}

.l-header

.l-nav {}

.l-top-main {}

.l-main {}

.l-side {}

.l-bottom {}